.hi {
    text-align: center;
    padding-top: 75px;
}
.purple {
    text-align:center;
}
.robo {
    height:40%;
    width:40%;
}

.cow{
    padding-left:20%;

}
 .pig{
    padding-right:20%;
 }
 }
    .cat{
        height:30%;
        width:30%;
    }
